<%- include('templates/header') %>

<div class="text-center" style="margin-top: 40%;">
  <h2 style="font-size: 34pt;"> 404!</h2><br/>
  <p>The page you are looking for doesn't exist.</p>
  <p><a id="go-back" href="#">Click here</a> to go back to the previous page,</p>
  <p>or <a href="/main">click here</a> to go back to the main page.</p>
</div>

<script>
  document.getElementById("go-back").addEventListener("click", (e) => {
    e.preventDefault();
    history.back();
  });
</script>

<%- include('templates/footer') %>
