<%- include('templates/headerAfterLogin') %>
  <!--
  Aboutus EJS.
  Author: Anna Dao
  Description: About us section with information about the app. 
            -> Template obtained from bootstrap
-->

  <head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  </head>
  <!-- Styling  -->

<style>
  .container-fluid {
    padding-bottom: 40px; 
  }
</style>

  <!-- About us section -->
  <section class="About-us">
    <div class="container">
      <a id="back-button" href="/main" class="btn btn-success mb-3"><</a>
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="/img/carboncap3.png" alt="About 1">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3">Carbon Cap helps people make informed decisions about their
                energy consumption in their home. </p>
              <p class="mb-5"> Our group, BBY-32, is developing a carbon footprint tracker to guide
                environmentally-conscious people in reducing their footprints with visual data and useful tips </p>
              <div class="row gy-4 gy-md-0 gx-xxl-5X">
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img src="/img/energylogo.png" width="60" height="47">
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" /> -->
                      </svg>
                    </div>
                    <div>
                      <h2 class="h4 mb-3"> Tracking Energy Usage </h2>
                      <p class="text-secondary mb-0"> Users can see their daily, weekly, and monthly energy consumption
                        and costs to compare it with the average user. </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img src="/img/energylogo.png" width="60" height="47">
                      </svg>
                    </div>
                    <div>
                      <h2 class="h4 mb-3"> Decision Making </h2>
                      <p class="text-secondary mb-0"> Users can make informed decisions regarding their energy usage,
                        with tips to help lower their usage.
                        This will cut costs and lead to reduced carbon emissions. </p>
                        <br>
                        <br>
                        <br>
                    </div>
                  </div>
                </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include('templates/footerAfterLogin') %>