<%- include('templates/headerAfterLogin') %>

    <!--
  Dashboard page EJS.
  Author: Ethan Nguyen
  Description: Dashboard page used to display all of the user's
  energy consumption/carbon emissions through graphs.
-->

    <style>
        h2 {
            text-align: center;
            margin-bottom: 1em;
        }

        li {
            list-style: none;
            font-size: 10pt;
        }
    </style>

    <h2>Dashboard</h2>
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-6 mb-4">
                <div class="card text-center border">
                    <h5 class="card-header">Energy Consumption</h5>
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a id="pie-week-link" class="nav-link active text-success" href="#">Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-success" href="#">Month</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-success" href="#">Year</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div id="piechart"></div>
                        <div id="piechart-legend">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-6 mb-4">
                <div class="card text-center border mb-5">
                    <h5 class="card-header">Carbon Emissions</h5>
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active text-success" href="#">Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-success" href="#">Month</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-success" href="#">Year</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div id="columnchart_values"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/dashboard.js"></script>

    <%- include('templates/footerAfterLogin') %>