<%- include('templates/headerAfterLogin') %>

<style>
  .btn {
    margin-right: 10px;

  }
</style>
<div class="row d-flex align-items-center justify-content-center">
  <div class="col-md-3">
      <div class="flex flex-col items-center justify-center">
          <h1 style='text-align: center' class="hello">Welcome, <%= name %>!</h1>
          <h2 style='text-align: center'class="capping">Let's get capping!</h2>
      </div>
  </div>
  <div class="col-md-6">
      <div class="mt-4">
          <h3 class="text-xl font-bold text-green">Dashboard</h3>
          <div class="bg-white shadow mt-2 p-4 rounded-lg">
              <div class="flex items-center justify-between space-x-2">
                  <button class="btn btn-success">Month</button>
                  <button class="btn btn-success">Week</button>
                  <button class="btn btn-success">See more</button>
              </div>
              <div class="mt-4">
                  <canvas id="myChart"></canvas>
              </div>
          </div>
      </div>
  </div>

  <!-- Cap of the day.-->
  <div class="col-md-3">
    <div class="card">
      <h5 class="card-header">CAP OF THE DAY:</h5>
      <div class="card-body">
        <h5 class="card-title">Did you know</h5>
        <p id="factText" class="card-text"></p>
        <p id="factSource" class="text-sm text-green font-bold mt-1"></p>
        <div class="d-flex justify-content-between mt-2">
          <button id="moreFacts" class="btn btn-success">More facts</button>
          <button id="readMore" class="btn btn-success">Read more</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
  integrity="sha512-ElR16o87II1Y6n0Z8e3c8638oa32310bF7h+t25t3v6e0uztq6/PXF3g82w863P2r212+r68n37568432655"
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  const facts = [
    {
      "number": 1,
      "fact": "Upgrading your lightbulbs to more efficient LEDs can save 0.1 tonnes of CO2e per year.",
      "source": "@BBC"
    },
    {
      "number": 2,
      "fact": "Turn your water heater down to 120˚F. This can save about 550 pounds of CO2 a year.",
      "source": "@Columbia.edu"
    },
    {
      "number": 3,
      "fact": "Take shorter showers and fix leaking fixtures in your bathroom. The average person wastes up to 30 gallons of water every day without even realizing it.",
      "source": "@Green Citizen"
    },
    {
      "number": 4,
      "fact": "Take care of your car. Keeping your tires properly inflated can increase your fuel efficiency by three percent; and ensuring that your car is properly maintained can increase it by four percent.",
      "source": "@Columbia.edu"
    },
    {
      "number": 5,
      "fact": "Rethink disposable packaging and products. Single-use plastic is not only a major source of water pollution and a huge source of what’s sent to landfill but it’s also accompanied by a big carbon footprint.",
      "source": "@Treehugger"
    },
    {
      "number": 6,
      "fact": "Use a reusable water bottle. By avoiding single-use plastic bottles, you can significantly reduce your carbon footprint and help decrease plastic pollution.",
      "source": "@Treehugger"
    },
    {
      "number": 7,
      "fact": "Doing two loads of laundry weekly in cold water instead of hot or warm water can save up to 500 pounds of carbon dioxide each year.",
      "source": "@globalgiving"
    }
  ];

  const getRandomFact = () => {
    const randomNumber = Math.floor(Math.random() * facts.length);
    const randomFact = facts[randomNumber];
    document.getElementById('factText').innerText = randomFact.fact;
    document.getElementById('factSource').innerText = "Source: " + randomFact.source;
  };

  getRandomFact(); // Display initial fact when page loads

  document.getElementById('moreFacts').addEventListener('click', getRandomFact);
</script>

<!-- Template should actually be afterlogin footer template -->
<%- include('templates/footerAfterLogin') %>


