<div class="row d-flex align-items-center justify-content-center">
  <% if (typeof message !== 'undefined' || devicesLink !== 'undefined') { %>
  <p><%= message %></p>
  <a href="<%= devicesLink %>">Add Devices</a>

  <div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"><p><%= message %></p></p>
      <p class="card-text"><small class="text-muted">
        <a href="<%= devicesLink %>">Add Devices</a>
      </small></p>
    </div>
  </div>
</div>
<% } else { %>
    
<% } %>