<%- include('templates/headerAfterLogin') %>


<div class="row d-flex align-items-center justify-content-center">
  <div class="col-md-3">
      <div class="flex flex-col items-center justify-center">
          <h1 style='text-align: center' class="hello">Welcome, <%= name %>!</h1>
          <h2 style='text-align: center'class="capping">Let's get capping!</h2>
      </div>
  </div>
  <div class="col-md-6">
      <div class="mt-4">
          <h3 class="text-xl font-bold text-green">Dashboard</h3>
          <div class="bg-white shadow mt-2 p-4 rounded-lg">
              <div class="flex items-center justify-between space-x-2">
                  <button class="btn btn-success">Month</button>
                  <button class="btn btn-success">Week</button>
                  <button class="btn btn-success">See more</button>
              </div>
              <div class="mt-4">
                  <canvas id="myChart"></canvas>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="card">
          <h5 class="card-header">CAP OF THE DAY:</h5>
          <div class="card-body">
              <h5 class="card-title">Did you know</h5>
              <p class="card-text">Doing two loads of laundry weekly in cold water instead of hot or warm water
                  can save up to 500 pounds of carbon dioxide each year.</p>
              <p class="text-sm text-green font-bold mt-1">@globalgiving</p>
              <a href="#" class="btn btn-success">Read more</a>
          </div>
      </div>
  </div>
</div>


  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElR16o87II1Y6n0Z8e3c8638oa32310bF7h+t25t3v6e0uztq6/PXF3g82w863P2r212+r68n37568432655"
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        datasets: [{
          label: 'kWh',
          data: [12, 19, 3, 5, 2, 3, 4],
          backgroundColor: [
          ],
          borderColor: [

          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

<!-- Template should actually be afterlogin footer template -->
<%- include('templates/footerAfterLogin') %>