<nav>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <!-- Dropdown -->
      <div class="col-2 text-center">
        <div class="dropdown dropup">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/icons/dropdown-icon.png" alt="Dropdown" width="35" height="38">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">
              <form action="/logout" method="GET">
                <button type="submit">Log Out</button>
            </form>
            </a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <!-- A divider, do we need this? -->
            <li><hr class="dropdown-divider"></li> 
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>

      <!-- Other navigation items -->
      <div class="col-2 text-center">
        <a href="#">
          <img src="/img/icons/home-icon.png" alt="Home" width="50" height="50">
        </a>
      </div>
      <div class="col-2 text-center"> 
        <a href="#">
          <img src="/img/icons/dashboard-icon.png" alt="Dashboard" width="54" height="50">
        </a>
      </div>
      <div class="col-2 text-center"> 
        <a href="#">
          <img src="/img/icons/devices-icon.png" alt="Devices" width="50" height="49">
        </a>
      </div>
      <div class="col-2 text-center">
        <a class="nav-link text-white" href="#">
          <img src="/img/icons/settings-icon.png" alt="Settings" width="50" height="50">
        </a>
      </div>
    </div>
  </div>
</nav>
