<%- include('templates/headerAfterLogin') %>

<div class="container">
    <br>
    <h1> User Profile </h1>
    <form>
        <fieldset class="mb-3" id="personalInfoFields" disabled>
            <div class="form-group">
                <label>Name </label>
                <input type="text" id="nameInput" class="form-control" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" id="User" class="form-control" placeholder="Enter your username or ID">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" id="Email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" id="newPasswordInput" class="form-control" placeholder="Enter new password">
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" id="confirmPasswordInput" class="form-control" placeholder="Confirm new password">
            </div>
        </fieldset>
        <div class="d-flex justify-content-end mt-5">
            <button type="button" class="btn btn-secondary" onclick="editUserInfo()">Edit</button>
            <span style="width: 10px"></span>
            <button type="button" style="background-color: green;border-color: green; color: white;" class="btn btn-info" onclick="saveUserInfo()">Save</button>
        </div>
    </form>
</div>


<%- include('templates/footerAfterLogin') %>