<%- include('templates/header') %>

<div class="container text-center my-auto">
  <h3>Check your email!</h3>
  <p>If an account with that email exists, a new password will be emailed to you.</p>
  <p style="font-size: 14pt;">Click <a  href="/">here</a> to go back.</p>
</div>

<%- include('templates/footer') %>
