<%- include('templates/header') %>

<div class="text-center mx-3" style="margin-top: 25%; font-size: 12pt;">
  <img src="/img/aboutus-hat.png" style="width: 100px; height: auto;">
  <h2 style="font-size: 30pt;">Under construction!</h2><br/>
  <p>We're sorry, this page doesn't have an implementation yet!</p>
  <p><a id="go-back" href="#">Click here</a> to go back to the previous page,</p>
  <p>or <a href="/main">click here</a> to go back to the main page.</p>
</div>

<script>
  document.getElementById("go-back").addEventListener("click", (e) => {
    e.preventDefault();
    history.back();
  });
</script>

<%- include('templates/footer') %>
