/*
  CSS file for the Carbon Cap.
  Minor note: media query required for mobile or don't worry about it?
*/

/* 
Colour theme
#FCF7F8 - snow (slight off-white)
#CED3DC - french gray
#519E5C - colour of the hat, main colour
#635C51 - walnut brown (woody colour)
#90C2E7 - light sky blue
*/

/* ---------------------------------------------------------------- */
/* Top header, bottom nav bars */

body {
  background-color: white;
  height: 100vh;
}

#back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.header-colours {
  /* background: linear-gradient(180deg, #519E5C, #FFFFFF); */
  background: linear-gradient(180deg, #90C2E7, rgba(255, 255, 255, 0));
  height: 10vh;
  z-index: 0;
}

.nav-colours {
  background: linear-gradient(0deg, #519E5C, rgba(255, 255, 255, 0));
  height: 10vh;
}

.nav-colours-after {
  background: linear-gradient(0deg, #519E5C 40%, rgba(255, 255, 255, 0));
  height: 10vh;
}

/* ---------------------------------------------------------------- */
/* Login/signup pages */

.slogan {
  padding-bottom: 5px;
}

.center-me {
  margin-top: 35%;
  text-align: center;
  height: 50vh;
  animation: fadeIn ease 2s;
}

.carousel-inner {
  height: 60vh;
}

.error {
  color: red;
}

.carousel-item {
  height: 70vh;
}

.landing-btn {
  width: 40vw;
}

.errorPage {
  margin-top: 33vh;
}

/* ---------------------------------------------------------------- */
/* Navigation icons */

.nav-div {
  width: 100%;
  height: 60%;
}

.nav-icon {
  width: 65px;
  height: auto;
  padding: 3px;
}

.nav-icon-active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 20%;
}

/* ---------------------------------------------------------------- */
/* Dropdown menu */

.dropdown-icon {
  width: 45px;
  height: auto;
}

#dropdown {
  position: fixed;
  top: 20px;
  right: 20px;
}

.dropdown-item {
  font-size: 14pt;
  color: #635C51;
}

.dropdown-icons {
  width: 24px;
  height: auto;
}

/* ---------------------------------------------------------------- */
/* Devices page */

.device-error {
  color: red;
}

.form-input {
  text-align: center;
}

.form-textbox, #deviceName {
  width: 75vw;
}

#deviceDropdown {
  position: relative;
}

#deviceDropdown .deviceDrop {
  position: absolute;
  width: 80%;
  margin: auto;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  display: none;
  z-index: 1000;
}

.option {
  padding: 0.4rem;
  cursor: pointer;
}

.option:hover {
  background: rgb(75, 75, 75);
}

#device-help {
  display: inline-block;
}

#device-add {
  display: inline-block;
}

.device-submit {
  float: right;
}

#table-kwh {
  font-size: 10pt;
}

.device-icon {
  width: 25px;
  height: auto;
}

.table-container {
  max-height: 65vh;
  overflow-y: scroll;
}

/* ---------------------------------------------------------------- */
/* Etc. */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */