
<div class="d-flex justify-content-evenly mx-auto nav-div position-relative">
  <!-- Dropdown -->
  <div class="d-inline-block">
    <div class="dropdown dropup">
      <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/img/icons/dropdown-icon.png" alt="Dropdown" class="nav-icon">
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">
          <form action="/logout" method="GET">
            <button class="btn btn-danger mb-3" type="submit">Log Out</button>
          </form>
        </a></li>
        <li><hr class="dropdown-divider"></li> 
        <li><a class="dropdown-item" href="#"><form action="/profile" method="GET">
          <button class="btn btn-success mb-3" type="submit">Profile</button></a></li>
      </ul>
    </div>
  </div>

  <!-- Other navigation items -->
  <div class="d-inline-block">
    <a href="/main">
      <img class="nav-icon nav-icon-active" id="home-icon" src="/img/icons/home-icon.png" alt="Home">
    </a>
  </div>
  <div class="d-inline-block"> 
    <a href="/dash">
      <img class="nav-icon" id="dash-icon" src="/img/icons/dashboard-icon.png" alt="Dashboard">
    </a>
  </div>
  <div class="d-inline-block"> 
    <a href="/devices">
      <img class="nav-icon" id="device-icon" src="/img/icons/devices-icon.png" alt="Devices">
    </a>
  </div>
  <div class="d-inline-block">
    <a href="/settings">
      <img class="nav-icon" id="settings-icon" src="/img/icons/settings-icon.png" alt="Settings">
    </a>
  </div>
</div>
